:root
{
--SoftBlue: hsl(215, 51%, 70%);
--Cyan: hsl(178, 100%, 50%);
--DarkBlueMain: hsl(217, 54%, 11%);
--DarkBlueCard: hsl(216, 50%, 16%);
--DarkBlueLine: hsl(215, 32%, 27%);
--White: hsl(0, 0%, 100%);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{   
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--DarkBlueMain);
    font-family:  'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

section
{ 
    margin: 1.25rem;
    position: relative;
    width: 21.8rem;
    height: 37.1rem;
    background-color: var(--DarkBlueCard);
    border-radius: 1rem;
    box-shadow: 0.1rem 0.4rem 1.5rem 2.5rem hsl(217, 53%, 9%);
}

img
{
    margin: 1.5rem 1.5rem 1.25rem 1.5rem;
    width: 18.7rem;
    border-radius: 0.5rem;
}

.square
{
  position: absolute;
  width:18.6rem;
  height: 18.7rem;
  background-color: var(--Cyan);
  border-radius: 0.5rem;
  margin: -20.3rem 1.5rem 1.25rem 1.5rem;
  opacity: 0;
}

.view img
{
    width: 3rem;
    position: absolute;
    top: 7.8rem;
    left: 7.8rem;
    opacity: 0;
}

.hover:hover .square
{
    cursor: pointer;
    opacity: 0.5;
    transition: all ease-in 0.7s
}

.hover:hover .view img
{
    cursor: pointer;
    opacity: 1;
    transition: all ease-in 0.7s;
}

h1
{
    margin-left: 1.5rem;
    color: var(--White);
    font-size: 1.33rem;
}

a
{
    text-decoration: none;
}

h2
{
    margin: 1.25rem 0 0 1.5rem;
    color: var(--SoftBlue);
    font-size: 1.125rem;
    font-weight: lighter;
    line-height: 1.7rem;
}

.points
{
    margin: 1.5rem 0 0 1.5rem;
    color: var(--Cyan);
    font-size: 1rem;
}

.days
{
    margin: -1.25rem 0rem 0 14.375rem;
    color: var(--SoftBlue);
    font-size: 1rem;
}

.spacer
{
    margin: 1.4rem;
    background-color: hsla(215, 51%, 70%,0.2);
    height: 0.06rem;
    width: 18.7rem;
    border-radius: 100%;
}

.avatar
{
    top: 31.9rem;
    position: absolute;
    width: 2.06rem;
    border: 0.06rem solid var(--White);
    border-radius: 1.25rem;
}

.author, .name
{
    margin-top: -0.8rem;
    position: relative;
    display: inline-block;
    font-size: 1rem;
    font-weight: lighter;
    left: 4.6rem;
    bottom: 0.18rem;
}
    
.author
{
    color: var(--SoftBlue); 
}

.name a
{
    color: var(--White);
}

.attribution 
{
    margin-top: 3.75rem;
    font-size: 1rem; 
    text-align: center; 
    color: hsl(224, 61%, 81%);
}
    
.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}

h1:hover, .name a:hover
{
    cursor: pointer;
    color: var(--Cyan);
    transition: all ease-in 0.5s;
}

@media all and (max-width:500px)
{
section 
{
    width: 20.6rem;
    height: 33.7rem;
}

img 
{
    width: 17.5rem;
}

.square
{
    width: 17.5rem;
    height: 17.5rem;
    top: 21.875rem;
}

.attribution
{
    display: none;
}

h1
{
    margin-top: -0.31rem;
    font-size: 1.37rem;
}

h2
{
    margin-top: 0.75rem;
    line-height: 1.6rem;
    font-size: 1rem;
}

.points
{
    margin: 1rem 0 0 1.5rem;
    font-size: 1rem;
}

.days
{
    margin: -1.25rem 0rem 0 13.125rem;
    font-size: 1rem;
}
.spacer
{
    margin: 0.9375rem 1.25rem;
    width: 18.125rem;
}

.avatar
{
    top: 28.8rem;
}

.author, .name
{
    margin-top: 0.2rem;
    left: 4.5rem;
    bottom: -0.1875rem;
}
    }